<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Fitnfash</title>
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/layout.css">
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700' rel='stylesheet' type='text/css'>
<script src="js/modernizr.js"></script>
<script src="js/jquery-1.12.4.js"></script> 
<script src="js/jquery.scrollto.js"></script>
<script src="js/menu.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" ></script>
<!-- if AngularJS fails to load fallback a local version -->
<script>window.angular || document.write('<script src="js/angular.min.js"><\/script>');</script>
<script src="js/fitnfash.js"></script>


<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body ng-app="fnfApp">

<div class="hammnu o-wrapper" id="o-wrapper">

<div class="hmnu"><a href="javascript:void(0)" id="c-button--slide-left" class="c-button"><img src="img/h-menu.jpg" alt="menu"></a></div>
<div class="lgonmbl"><img src="img/fitnfash-logo-small.jpg" alt="Fitnfash-logo"></div>
<div class="suggrt"><a href="#" id="c-button--slide-right" class="c-button"><img src="img/sugg-icon.jpg" alt="suggestions"></a></div>


</div>

<div class="suggtdiv c-menu c-menu--slide-right" id="c-menu--slide-right" ng-controller="messageController">
<div class="c-menu__close">&#10005;</div>

<div class="sgshd" ng-show="!submitted">Suggestions<span>We would like to hear you out.</span></div>
<div class="sgsfrm" ng-show="!submitted">
<form ng-submit="submit()">
<ul>
<li><label for="name">Your Name</label>
            <input type="text" id="name"  name="name" ng-model="request.name" class="sugginpt"></li>
<li><label for="phone">Phone Number</label>
            <input type="text" id="phone"  name="phone" ng-model="request.phone" class="sugginpt"></li>
            
            <li><label for="email">Email Address</label>
            <input type="text" id="email"  name="email" ng-model="request.email" class="sugginpt"></li>
            
            <li><label for="message">Message</label>
            <textarea rows="10" id="message" name="message" ng-model="request.message" class="sugginpt"></textarea></li>
            
            <li>
            <input type="submit" class="sugginpt_btn" id="subsubmit" value="Submit" name="send"></li>

</ul>
</form>
</div>

<div class="sgshd" ng-show="submitted">
    <p> Thanks for sharing your valuable feedback ! </p>
</div>

</div>

<header class="fxhdmnu c-menu c-menu--slide-left" id="c-menu--slide-left">
<div class="c-menu__close wht">&#10005;</div>
  <div class="site-logo"><a href="#"><img src="img/fitnfash-logo.jpg" alt="fitnfash"></a></div>
  <nav class="fltmnu">
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About us</a></li>
      <li><a href="#how">How it Works?</a></li>
      <li><a href="#resp">On the Go !</a></li>
    </ul>
  </nav>
  <div class="cntdls">
    <div class="cntml"><a href="mailto:info@fitnfash.com">info@fitnfash.com</a></div>
    <div class="cntcl">+91 9891194083</div>
  </div>
</header>
<div class="suggdiv" id="c-button--slide-right1"><span class="suggdiv_inner"><a href="#" class="c-button">Suggestions</a></span></div>
<div id="c-mask" class="c-mask"></div>

<div id="single">
  <section data-target="home" id="home" class="fsrtdiv">
    <div class="wrapper" ng-controller="emailController">
      <div class="rtcntdiv">
        <div class="pghding"><img src="img/coming-soon.png" alt="coming soon"></div>
        <p>Scorching sun in the month of June, Or the approaching Monsoon.
          Nothing can stop you from wearing your best, and sing your new tune.<br>
          What are you thinking? Come out of your cocoon!<br>
          Book your saloon. Sparkle like moon.<br>
          Yes, the wait will be over. We are coming soon!</p>
        <div class="clear"></div>
        <div class="ntfyfrm" ng-show="!submitted">
          <form ng-submit="submit()">
            <label for="subemail">Notify me when it's ready</label>
            <input type="text" id="subemail" placeholder="Enter your email address" ng-model="request.email" name="email" class="subsinpt">
            <input type="submit" class="subsinpt_btn" id="subsubmit" value="Submit">
          </form>
        </div>
        <div ng-show="submitted">
          <p>Thanks for showing interest in our website! We will notify when its ready.</p>
        </div>
      </div>
    </div>
  </section>
  <section data-target="about" id="about" class="scdiv">
    <div class="wrapper">
      <div class="lftcntdiv">
        <div class="pghding"><img src="img/about-us.png" alt="about us"></div>
        <p>We want you to have an easy access to thousands of styles, without having to buy them! FitnFash brings you elegance, charm and fascination at a very affordable price and tailored fittings. Make a style statement every time you move out.</p>
        <p>Choose from our easy to fit designs at modest rent rates, take demo at your convenience and we will get it fitted to your size. Look perfect on every special day!</p>
        <div class="pcaps">what are you waiting for? try fnf to believe it.</div>
        <div class="brd-logo"><img src="img/empty-logos.png" alt="Brands"></div>
      </div>
    </div>
  </section>
  <section data-target="how" id="how" class="thrdiv">
    <div class="wrapper">
      <div class="ctrcntdiv">
        <div class="pghding"><img src="img/how-it-work.png" alt="how it works"></div>
        <p>It is simple! Just select the date to wear one of our awesome dresses and book it. What's more? You can also select an alternative wear, at no extra cost. We will provide free Demo of both the dresses. You can choose to keep any one of them. We will get it custom-fitted.</p>
        <div class="pcaps">a happy you means a happy us !</div>
        <div class="procss">
          <ul>
            <li>
              <div class="psimg"><img src="img/book.png" alt="book"></div>
              <div class="pscnt">1. Book<span>Book your dress</span></div>
            </li>
            <li>
              <div class="psimg"><img src="img/demo.png" alt="2. Demo &amp; fitting"></div>
              <div class="pscnt">2. Demo &amp; fitting<span>Get a free demo of booked and alternative dress anytime before your booking date. We will get it tailor-fitted for you.</span></div>
            </li>
            <li>
              <div class="psimg"><img src="img/delivery.png" alt="Deleivery"></div>
              <div class="pscnt">3. Delivery<span>Dress is Delivered one-day 
                prior</span></div>
            </li>
            <li>
              <div class="psimg"><img src="img/pick-up.png" alt="Pick up"></div>
              <div class="pscnt">4. pick up<span>Dress is picked for return one-day after</span></div>
            </li>
          </ul>
        </div>
        <p>We are a Monica-Geller-breed, and love to keep our things clean. Rest assured that every dress available online is dry-cleaned and ready to wear.</p>
      </div>
    </div>
  </section>
  <section data-target="resp" id="resp" class="frthdiv">
    <div class="wrapper">
      <div class="ctrcntdiv">
        <div class="pghding"><img src="img/fully-responsive.png" alt="fully responsive"></div>
        <div class="rsponimg"><img src="img/responsive.png" alt="fully responsive"></div>
      </div>
    </div>
  </section>
  <section data-target="contact1" id="contact1" class="fifthdiv">
    <div class="wrapper">
      <div class="ctrcntdiv rel">
        <div class="cntftr">
          <div class="hddg">Contact us</div>
          <div class="ftrcnt">+91 9891194083<br>
            info@fitnfash.com</div>
        </div>
        <div class="subsftr" ng-controller="emailController">
          <div class="hddg">SUSCRIBE TO THE NEWSLETTER</div>
          <div class="ftrcnt" ng-show="!submitted">
            <form ng-submit="submit()">           
              <input type="text" id="subemail" placeholder="Please enter your email address" name="email" ng-model="request.email" class="subsinptftr">
              <input type="submit" class="btn" id="subsubmit" value="subscribe" name="send">
            </form>
          </div>
          <div ng-show="submitted" class="ftrcnt">Thank you for subscribing !</div>
        </div>
        <div class="sclftr">
          <div class="hddg">Follow us</div>
          <div class="ftrcnt"><ul><li><a href="#"><img src="img/facebook.jpg" alt="Facebook"></a></li><li><a href="#"><img src="img/instagram.jpg" alt="Instagram"></a></li><li><a href="#"><img src="img/pinterest.jpg" alt="Pinterest"></a></li><li><a href="#"><img src="img/twitter.jpg" alt="Twitter"></a></li></ul></div>
        </div>
        <div class="cpytxt">&copy; 2016 FitnFash. All Rights Reserved.</div>
        
      </div>
    </div>
  </section>
</div>


<script>
  
  /**
   * Slide left instantiation and action.
   */
  var slideLeft = new Menu({
    wrapper: '#o-wrapper',
    type: 'slide-left',
    menuOpenerClass: '.c-button',
    maskId: '#c-mask'
  });

  var slideLeftBtn = document.querySelector('#c-button--slide-left');
  
  slideLeftBtn.addEventListener('click', function(e) {
    e.preventDefault;
    slideLeft.open();
  });



  /**
   * Slide right instantiation and action.
   */
  var slideRight = new Menu({
    wrapper: '#o-wrapper',
    type: 'slide-right',
    menuOpenerClass: '.c-button',
    maskId: '#c-mask'
  });

  var slideRightBtn = document.querySelector('#c-button--slide-right');
  var slideRightBtn1 = document.querySelector('#c-button--slide-right1');
  
  slideRightBtn.addEventListener('click', function(e) {
    e.preventDefault;
    slideRight.open();
  });
  
  slideRightBtn1.addEventListener('click', function(e) {
    e.preventDefault;
    slideRight.open();
  });



  

</script>

<script>
    

        
    $(document).ready(function(){
        
   
        
        
        /**
         * This part causes smooth scrolling using scrollto.js
         * We target all a tags inside the nav, and apply the scrollto.js to it.
         */
        $("nav a").click(function(evn){
            evn.preventDefault();
            $('html,body').scrollTo(this.hash, this.hash); 
        });
        
        
        
        /**
         * This part handles the highlighting functionality.
         * We use the scroll functionality again, some array creation and 
         * manipulation, class adding and class removing, and conditional testing
         */
        var aChildren = $("nav li").children(); // find the a children of the list items
        var aArray = []; // create the empty aArray
        for (var i=0; i < aChildren.length; i++) {    
            var aChild = aChildren[i];
            var ahref = $(aChild).attr('href');
            aArray.push(ahref);
        } // this for loop fills the aArray with attribute href values
        
        $(window).scroll(function(){
            var windowPos = $(window).scrollTop(); // get the offset of the window from the top of page
            var windowHeight = $(window).height(); // get the height of the window
            var docHeight = $(document).height();
            
            for (var i=0; i < aArray.length; i++) {
                var theID = aArray[i];
                var divPos = $(theID).offset().top; // get the offset of the div from the top of page
                var divHeight = $(theID).height(); // get the height of the div in question
                if (windowPos >= divPos && windowPos < (divPos + divHeight)) {
                    $("a[href='" + theID + "']").addClass("nav-active");
                } else {
                    $("a[href='" + theID + "']").removeClass("nav-active");
                }
            }
            
            if(windowPos + windowHeight == docHeight) {
                if (!$("nav li:last-child a").hasClass("nav-active")) {
                    var navActiveCurrent = $(".nav-active").attr("href");
                    $("a[href='" + navActiveCurrent + "']").removeClass("nav-active");
                    $("nav li:last-child a").addClass("nav-active");
                }
            }
        });
    });

</script>



</body>
</html>
